.details{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    background-image: url("https://media.istockphoto.com/photos/metal-surface-picture-id182153599?b=1&k=20&m=182153599&s=170667a&w=0&h=PSRB3XGzJvHPR11SDpGpaFFVnv_80NADMRro2EBxfQ4=");
}

input{
    width:80px;
    height: 20px;
    color: black;
    background-color: white;
    /* border: 2px solid red; */
    font-size: 22px;
}